<?xml version="1.0"?>
<launch>
  <!--
  <arg name="enable_imu" default="false"/>
  <arg name="enable_gps" default="false"/>
  -->

  <arg name="model" default="$(find aav_simple_description)/urdf/car.urdf.xacro"/>
  
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(arg model)'"/>
  <!--
                                         enable_imu:=$(arg enable_imu)
                                         enable_gps:=$(arg enable_gps)"/>
  -->
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>

