<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="worlds/empty.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find aav_simple_description)/launch/description.launch"/>

  <!--
  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  -->

  <node name="spawn_aav_model" pkg="gazebo_ros" type="spawn_model" 
    args="$(optenv ROBOT_INITIAL_POSE) -urdf -param robot_description -model car"/>
</launch>

