<?xml version="1.0"?>

<launch>
  <node ns="car" name="control" pkg="aav_control" type="aav_control">
    <rosparam>
      steering_pid:
        p_gain: .1
        i_gain: 0
        d_gain: -.2
      speed_pid:
        p_gain: .1
        i_gain: 0
        d_gain: -.2
    </rosparam>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node"
    name="ekf_localization" clear_params="true" ns="car">

    <param name="frequency" value="30"/>
    <param name="sensor_timeout" value="2"/>

    <param name="imu0" value="imu/data"/>
    <rosparam param="imu0_config">[false, false, false,
                                   true,  true,  true,
                                   false, false, false,
                                   false, false, false,
                                   true,  true,  true]</rosparam>
    <param name="imu0_differential" value="true"/>
    <param name="imu0_remove_gravitational_acceleration" value="true"/>

    <param name="odom0" value="odometry/gps"/>
    <rosparam param="odom0_config">[true,  true,  true, 
                                   false, false, false, 
                                   false, false, false, 
                                   false, false, false,
                                   false, false, false]</rosparam>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node"
      name="navsat_transform_node" ns="car" respawn="true" output="screen">
    <param name="magnetic_declination_radians" value="0"/>
  </node>
</launch>

